language: php
php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly

env:

services:

before_install:

install:
  - composer install
  - phpenv rehash

before_script:

script:
  - echo "hello"